{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Trabajos</h1>

    <div class="row top-buffer">
        <div class="span3">
            <a href="{{ path('workoutcrud_new') }}" class="btn btn-large btn-block btn-primary">New Trabajo</a>
        </div>
    </div>

    <div class="row-fluid top-buffer">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Fecha</th>
                <th>Actividad</th>
                <th>Horas</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{% if entity.occurrenceDate %}{{ entity.occurrenceDate|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ entity.activity }}</td>
                    <td>{{ entity.hours }}</td>
                    <td>
                        <ul>
                            <div class="span2">
                                <a href="{{ path('workoutcrud_show', { 'id': entity.id }) }}" class="btn btn-large btn-block btn-default">Ver</a>
                            </div>
                            <div class="span2">
                                <a href="{{ path('workoutcrud_edit', { 'id': entity.id }) }}" class="btn btn-large btn-block btn-inverse">Editar</a>
                            </div>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

