{% extends '::base.html.twig' %}

{% block body -%}
<div class="container">
    <div class="row-fluid">
        <h1>TRABAJO</h1>

        <table class="record_properties">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Actividad</th>
                    <td>{{ entity.activity }}</td>
                </tr>
                <tr>
                    <th>Fecha</th>
                    <td>{{ entity.occurrenceDate|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Horas</th>
                    <td>{{ entity.hours }}</td>
                </tr>
            </tbody>
        </table>

        <ul class="record_actions">
            <li>
                <a href="{{ path('workoutcrud') }}">
                    Volver
                </a>
            </li>
            <li>
                <a href="{{ path('workoutcrud_edit', { 'id': entity.id }) }}">
                    Editar
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
         </ul>
    </div>
</div>
{% endblock %}
